<div class="wrapper">
    <div class="page-header page-header-small">
        <div class="page-header-image rellax-header" data-rellax-speed="-8" style="background-image: url('assets/img/landing/pisc_day.jpg') ;">
        </div>
        <div class="content-center">
            <div class="row">
                <div class="col-md-8 ml-auto mr-auto text-center">
                    <h2 class="title">Une séléction des meilleurs images de notre hôtel</h2>
                    <h3>★★★★</h3>
                </div>
            </div>
        </div>
    </div>
    <div class="main">
        <div class="container">
            <div class="section">
                <div class="projects-4">
                    <div class="container-fluid">
                        <div class="row">
                            <div class="col-md-6 px-0">
                                <div class="card card-fashion card-background" style="background-image: url('assets/img/selected/chambers/4.jpg')">
                                    <div class="card-body">
                                        <div class="card-title text-center">
                                            <a href="/#/images-chambres" class="btn btn-danger btn-round">
                                                <i class="fa fa-eye"></i> Voir
                                            </a>
                                        </div>
                                        <div class="card-footer text-left">
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-6 px-0">
                                <div class="card-container">
                                    <div class="card card-fashion">
                                        <div class="card-title">
                                        </div>
                                        <div class="card-body">
                                        </div>
                                    </div>
                                    <div class="card card-fashion card-background">
                                        <div style="margin-top: 30%;">

                                            <h4><label>Chambres</label></h4>
                                            <!-- <p><label>Chambres de grandeurs différentes, avec ou sans vue mer</label></p> -->
                                            <p class="text-left">Avec climatisation, téléphone, TV-Satellite, coffre-fort, ligne téléphonique, sol en céramique avec balcon ou terrasse, baby, cot sur demande, chambre avec vue mer disponible ( réservation séparée ) connexion
                                                internet gratuite. Baignoire avec douche intégrée, WC et sèche-cheveux.</p>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <hr>
                <div class="projects-4">
                    <div class="container-fluid">
                        <div class="row">
                            <div class="col-md-6 px-0">
                                <div class="card-container">
                                    <!-- <div class="card card-fashion card-background" style="background-image: url('assets/img/gallery/1.jpg')">
                                    </div> -->
                                    <div class="card card-fashion">
                                        <div class="card-title">
                                            <h4><label>Salles</label></h4>
                                            <!-- <p class="text-left">Restaurant Principal: sous forme de buffet avec showcooking. </p>
                                            <p class="text-left">petit déjeuner de 06h00 à 10h00. </p>
                                            <p class="text-left">déjeuner de 12h30 à 14h30. </p>
                                            <p class="text-left">dinet de 19h00 à 21h00 avec buffet enfant séparé</p> -->
                                        </div>
                                        <div class="card-body">
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-6 px-0">
                                <div class="card card-fashion card-background" style="background-image: url('assets/img/selected/salle/1.jpg')">
                                    <div class="card-body">
                                        <div class="card-title text-center">
                                            <a href="/#/images-salles" class="btn btn-danger btn-round">
                                                <i class="fa fa-eye"></i> Voir
                                            </a>
                                        </div>
                                        <div class="card-footer text-left">
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <hr>
                <div class="projects-4">
                    <div class="container-fluid">
                        <div class="row">
                            <div class="col-md-6 px-0">
                                <div class="card card-fashion card-background" style="background-image: url('assets/img/selected/animation/3.jpg')">
                                    <div class="card-body">
                                        <div class="card-title text-center">
                                            <a href="/#/images-divers" class="btn btn-danger btn-round">
                                                <i class="fa fa-eye"></i> Voir
                                            </a>
                                        </div>
                                        <div class="card-footer text-left">
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-6 px-0">
                                <div class="card-container">
                                    <div class="card card-fashion">
                                        <div class="card-title">
                                        </div>
                                        <div class="card-body">
                                        </div>
                                    </div>
                                    <div class="card card-fashion card-background">
                                        <div style="margin-top: 30%;">
                                            <h4><label>Animations & Divers</label></h4>
                                            <p class="text-left">
                                                Mini Golf, Foot ball, Basket ball, Volley ball, compétitions sportives, Pétanque beach-volley, waterpolo, fléchette, tennis de table
                                            </p>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <hr>
                <div class="projects-4">
                    <div class="container-fluid">
                        <div class="row">
                            <div class="col-md-6 px-0">
                                <div class="card-container">
                                    <!-- <div class="card card-fashion card-background" style="background-image: url('assets/img/gallery/1.jpg')">
                                    </div> -->
                                    <div class="card card-fashion">
                                        <div class="card-title">
                                            <h4><label>Spa</label></h4>
                                            <p class="text-left">
                                                Centre de beauté, coiffeur, un centre balnéothérapie; Hammam, Sauna, Massage</p>
                                        </div>
                                        <div class="card-body">
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-6 px-0">
                                <div class="card card-fashion card-background" style="background-image: url('assets/img/gallery/10.jpg')">
                                    <div class="card-body">
                                        <div class="card-title text-center">
                                            <a href="/#/images-spa" class="btn btn-danger btn-round">
                                                <i class="fa fa-eye"></i> Voir
                                            </a>
                                        </div>
                                        <div class="card-footer text-left">
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <!-- <div class="row">
                    <div class="col-md-3" *ngFor="let i of images">
                        <div class="card card-plain card-blog">
                            <div class="card-image">
                                <a href="/#/gallerie">
                                    <img class="img rounded img-raised" [src]="i.image" style="width: 550px; height: 200px;" />
                                </a>
                            </div>
                        </div>
                    </div>
                </div> -->
            </div>
        </div>
    </div>

    <footer class="footer footer-big footer-white">
        <div class="container">
            <hr>
            <div class="content">
                <div class="row">
                    <div class="col-md-12" align="center">
                        <h5>Réseaux Sociaux</h5>
                        <ul class="social-buttons">
                            <li>
                                <a href="https://www.facebook.com/Hotel.Habib.Monastir/" target="_blank" class="btn btn-icon btn-neutral btn-facebook btn-round">
                                    <i class="fa fa-facebook-square"></i>
                                </a>
                            </li>
                            <li>
                                <a href="https://www.instagram.com/delphin_elhabib/" target="_blank" class="btn btn-primary btn-neutral btn-round btn-icon">
                                    <i class="fa fa-instagram"></i>
                                </a>
                            </li>
                            <li>
                                <a href="#pablo" class="btn btn-icon btn-neutral btn-google btn-round">
                                    <i class="fa fa-google-plus"></i>
                                </a>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
            <hr />
            <div class="copyright">
                Copyrights &copy; {{date | date: 'yyyy'}} <label style="color: cadetblue; cursor: pointer;">Delphin
                    Hotels & Resorts</label>, All Rights Reserved.
            </div>
        </div>
    </footer>
</div>