<div class="wrapper">
    <ngb-carousel>
        <ng-template ngbSlide>
            <div class="page-header header-filter">
                <div class="page-header-image" style="background-image: url('assets/img/landing/bed3.jpg');"></div>
                <div class="content-center text-center">
                    <div class="row">
                        <div class="col-md-8 ml-auto mr-auto2">
                            <!-- <h1 class="title">Loisir.</h1> -->
                            <h4 class="description text-white"></h4>
                        </div>
                    </div>
                </div>
            </div>
        </ng-template>
        <ng-template ngbSlide>
            <div class="page-header header-filter">
                <div class="page-header-image" style="background-image: url('assets/img/selected/chambers/1.jpg');"></div>
                <div class="content-center">
                    <div class="row">
                        <div class="col-md-8 ml-auto mr-auto text-center">
                            <!-- <h1 class="title">Confort.</h1> -->
                            <h4 class="description text-white">.</h4>
                        </div>
                    </div>
                </div>
            </div>
        </ng-template>
        <ng-template ngbSlide>
            <div class="page-header header-filter">
                <div class="page-header-image" style="background-image: url('assets/img/selected/chambers/6.jpg');"></div>
                <div class="content-center text-center">
                    <div class="row">
                        <div class="col-md-8 ml-auto mr-auto">
                            <!-- <h1 class="title">Spacieuse.</h1> -->
                            <h4 class="description text-white"></h4>
                        </div>
                    </div>
                </div>
            </div>
        </ng-template>
    </ngb-carousel>
    <div class="main">
        <br><br><br>
        <div class="container">
            <h2 class="section-title">Chambres</h2>
            <hr>
            <div class="projects-4">
                <div class="container-fluid">
                    <div class="row">
                        <div class="col-md-6 px-0">
                            <div class="card card-fashion card-background" style="background-image: url('assets/img/selected/chambers/9.jpg')">
                                <div class="card-body">
                                    <div class="card-title text-left">
                                        <h3><a href="/#/chambres/simple">Chambre Simple 1 lit double</a></h3>
                                    </div>
                                    <div class="card-footer text-left">
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-6 px-0">
                            <div class="card-container">
                                <div class="card card-fashion">
                                    <div class="card-title">
                                        <!-- <h4><label>Description:</label></h4> -->
                                    </div>
                                    <div class="card-body">
                                    </div>
                                </div>
                                <div class="card card-fashion card-background" style="background-image: url('assets/img/selected/chambers/7.jpg')">
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <hr>
            <div class="projects-4">
                <div class="container-fluid">
                    <div class="row">
                        <div class="col-md-6 px-0">
                            <div class="card-container">
                                <div class="card card-fashion card-background" style="background-image: url('assets/img/selected/chambers/7.jpg')">
                                </div>
                                <div class="card card-fashion">
                                    <div class="card-title">
                                        <!-- <h4><label>Description:</label></h4> -->
                                    </div>
                                    <div class="card-body">
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-6 px-0">
                            <div class="card card-fashion card-background" style="background-image: url('assets/img/selected/chambers/6.jpg')">
                                <div class="card-body">
                                    <div class="card-title text-left">
                                        <h3><a href="/#/chambres/double">Chambre Double 1 lit double</a></h3>
                                    </div>
                                    <div class="card-footer text-left">
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <hr>
            <div class="projects-4">
                <div class="container-fluid">
                    <div class="row">
                        <div class="col-md-6 px-0">
                            <div class="card card-fashion card-background" style="background-image: url('assets/img/selected/chambers/1.jpg')">
                                <div class="card-body">
                                    <div class="card-title text-left">
                                        <h3><a href="/#/chambres/simple">Chambre Simple 1 lit double</a></h3>
                                    </div>
                                    <div class="card-footer text-left">
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-6 px-0">
                            <div class="card-container">
                                <div class="card card-fashion">
                                    <div class="card-title">
                                        <!-- <h4><label>Description:</label></h4> -->
                                    </div>
                                    <div class="card-body">
                                    </div>
                                </div>
                                <div class="card card-fashion card-background" style="background-image: url('assets/img/selected/chambers/10.jpg')">
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <hr>
    <footer class="footer footer-big footer-white">
        <div class="container">
            <div class="content">
                <div class="row">
                    <div class="col-md-12" align="center">
                        <h5>Réseaux Sociaux</h5>
                        <ul class="social-buttons">
                            <li>
                                <a href="https://www.facebook.com/Hotel.Habib.Monastir/" target="_blank" class="btn btn-icon btn-neutral btn-facebook btn-round">
                                    <i class="fa fa-facebook-square"></i>
                                </a>
                            </li>
                            <li>
                                <a href="https://www.instagram.com/delphin_elhabib/" target="_blank" class="btn btn-icon btn-neutral btn-instagram btn-round">
                                    <i class="fa fa-instagram"></i>
                                </a>
                            </li>
                            <li>
                                <a href="#pablo" class="btn btn-icon btn-neutral btn-google btn-round">
                                    <i class="fa fa-google-plus"></i>
                                </a>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
            <hr />
            <div class="copyright">
                Copyright &copy; {{date | date: 'yyyy'}} <label style="color: cadetblue; cursor: pointer;">Delphin
                    Hotels & Resorts</label>, All Rights Reserved.
            </div>
        </div>
    </footer>