<div class="wrapper">
    <div class="page-header page-header-mini">
        <div class="page-header-image rellax-header" data-rellax-speed="-8" style="background-image: url('assets/img/landing/3.jpg') ;">
        </div>
    </div>
    <div class="section">
        <div class="container">
            <div class="row">
                <div class="col-md-5">
                    <ngb-carousel>
                        <ng-template ngbSlide>
                            <img class="d-block img-raised" src="assets/img/landing/1.jpg" alt="First slide">
                        </ng-template>
                        <ng-template ngbSlide>
                            <img class="d-block img-raised" src="assets/img/landing/2.jpg" alt="Second slide">
                        </ng-template>
                        <ng-template ngbSlide>
                            <img class="d-block img-raised" src="assets/img/landing/3.jpg" alt="Third slide">
                        </ng-template>
                        <ng-template ngbSlide>
                            <img class="d-block img-raised" src="assets/img/landing/4.jpg" alt="Third slide">
                        </ng-template>
                    </ngb-carousel>
                    <p class="blockquote blockquote-primary">
                        Chambre Simple avec ou sans vue sur mer
                        <br>
                        <br>
                        <!-- <small>Kanye West</small> -->
                    </p>
                </div>
                <div class="col-md-6 ml-auto mr-auto">
                    <h2 class="title"> Chambre Simple 1 Lit Double </h2>
                    <!-- <h5 class="category">Slim-Fit Leather Biker Jacket</h5> -->
                    <!-- <h2 class="main-price">$3,390</h2> -->
                    <ngb-accordion #acc="ngbAccordion" activeIds="config-panel-one" class="card-plain">
                        <ngb-panel id="config-panel-one">
                            <ng-template ngbPanelTitle>
                                <a class="collapsed">
                                  Détails
                                  <i class="now-ui-icons arrows-1_minimal-down"></i>
                              </a>
                            </ng-template>
                            <ng-template ngbPanelContent>
                                <p>
                                    Avec climatisation, téléphone, TV-Satellite, coffre-fort, ligne téléphonique, sol en céramique avec balcon ou terrasse, baby, cot sur demande, chambre avec vue mer disponible ( réservation séparée ) connexion internet gratuite. Baignoire avec douche intégrée,
                                    WC et sèche-cheveux.
                                </p>
                            </ng-template>
                        </ngb-panel>
                    </ngb-accordion>
                    <div class="row justify-content-end">
                        <!-- <button class="btn btn-primary mr-3">Réserver &nbsp;<i class="now-ui-icons shopping_cart-simple"></i></button> -->
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- <div class="section related-products" data-background-color="black">
        <div class="container">
            <h3 class="title text-center">Voir Aussi:</h3>
            <div class="row">
                <div class="col-sm-6 col-md-3">
                    <div class="card card-product">
                        <div class="card-image">
                            <a href="/#/chambres/simple">
                                <img class="img rounded" src="assets/img/saint-laurent.jpg" />
                            </a>
                        </div>
                        <div class="card-body">
                            <h4 class="card-title">
                                <a href="/#/chambres/simple" class="card-link">CHAMBRE SIMPLE 1 LIT DOUBLE</a>
                            </h4>
                            <div class="card-description">
                                Dolce & Gabbana's 'Greta' tote has been crafted in Italy from hard-wearing red textured-leather.
                            </div>
                            <div class="card-footer">
                                <div class="price-container">
                                   <span class="price"> à partir de 22 TND</span>
                                </div>
                                <button class="btn btn-neutral btn-icon btn-round pull-right" placement="top" ngbTooltip="Voir">
                                    <i class="fa fa-eye"></i>
                                </button>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-sm-6 col-md-3">
                    <div class="card card-product">
                        <div class="card-image">
                            <a href="/#/chambres/double">
                                <img class="img rounded" src="assets/img/gucci.jpg" />
                            </a>
                        </div>
                        <div class="card-body">
                            <h4 class="card-title">
                                <a href="/#/chambres/double" class="card-link">CHAMBRE DOUBLE 1 LIT DOUBLE</a>
                            </h4>
                            <div class="card-description">
                                Balmain's mid-rise skinny jeans are cut with stretch to ensure they retain their second-skin fit but move comfortably.
                            </div>
                            <div class="card-footer">
                                <div class="price-container">
                                   <span class="price"> à partir de 68 TND</span>
                                </div>
                                <button class="btn btn-neutral btn-icon btn-round pull-right" placement="top" ngbTooltip="Voir">
                                    <i class="fa fa-eye"></i>
                                </button>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-sm-6 col-md-3">
                    <div class="card card-product">
                        <div class="card-image">
                            <a href="/#/chambres/triple">
                                <img class="img rounded" src="assets/img/wooyoungmi.jpg" />
                            </a>
                        </div>
                        <div class="card-body">
                            <h4 class="card-title">
                                <a href="/#/chambres/triple" class="card-link">CHAMBRE TRIPLE 1 LIT SIMPLE ET 1 LIT DOUBLE</a>
                            </h4>
                            <div class="card-description">
                                Balenciaga's black textured-leather wallet is finished with the label's iconic 'Giant' studs
                            </div>
                            <div class="card-footer">
                                <div class="price-container">
                                   <span class="price"> à partir de 80 TND</span>
                                </div>
                                <button class="btn btn-neutral btn-icon btn-round pull-right" placement="top" ngbTooltip="Voir">
                                    <i class="fa fa-eye"></i>
                                </button>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-sm-6 col-md-3">
                    <div class="card card-product">
                        <div class="card-image">
                            <a href="/#/chambres/quadruple">
                                <img class="img rounded" src="assets/img/saint-laurent1.jpg" />
                            </a>
                        </div>
                        <div class="card-body">
                            <h4 class="card-title">
                                <a href="/#/chambres/quadruple" class="card-link">CHAMBRE QUADRUPLE 2 LITS SIMPLES ET 1 LIT DOUBLE</a>
                            </h4>
                            <div class="card-description">
                                Dolce & Gabbana's 'Greta' tote has been crafted in Italy.
                            </div>
                            <div class="card-footer">
                                <div class="price-container">
                                   <span class="price"> à partir de 117 TND</span>
                                </div>
                                <button class="btn btn-neutral btn-icon btn-round pull-right" placement="top" ngbTooltip="Voir">
                                    <i class="fa fa-eye"></i>
                                </button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div> -->

    <footer class="footer footer-big footer-white">
        <div class="container">
            <div class="content">
                <div class="row">
                    <div class="col-md-12" align="center">
                        <h5>Réseaux Sociaux</h5>
                        <ul class="social-buttons">
                            <li>
                                <a href="https://www.facebook.com/Hotel.Habib.Monastir/" target="_blank" class="btn btn-icon btn-neutral btn-facebook btn-round">
                                    <i class="fa fa-facebook-square"></i>
                                </a>
                            </li>
                            <li>
                                <a href="https://www.instagram.com/delphin_elhabib/" target="_blank" class="btn btn-icon btn-neutral btn-instagram btn-round">
                                    <i class="fa fa-instagram"></i>
                                </a>
                            </li>
                            <li>
                                <a href="#pablo" class="btn btn-icon btn-neutral btn-google btn-round">
                                    <i class="fa fa-google-plus"></i>
                                </a>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
            <hr />
            <div class="copyright">
                Copyrights &copy; {{date | date: 'yyyy'}} <label style="color: cadetblue; cursor: pointer;">Delphin Hotels & Resorts</label>, All Rights Reserved.
            </div>
        </div>
    </footer>
</div>